.dashboard-sidebar {
  background-color: #90a4ae;
  li {
    background-color: #607d8b;
    margin: 15px 5px;
    padding: 1rem;
    border-radius: 15px;
    font-weight: 600;
    color: white;
  }
}
